a:focus, a:hover, a:visited {
    text-decoration: none;
}

body, html {
    background-color: #fefeff;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
}

.biglogo {
    max-width: 100%;
    height: auto;
}

.blocks {
    background-image: url("/media/empSiteBackground_blocks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
}

.bubbles {
    background-image: url("/media/empSiteBackground_bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.darkbluebg {
    background-color: #012854;
}

.darkblue {
    color: #012854;
}

.darkish {
    color: #444444;
}

.overflowing {
    overflow-y: scroll;
    max-height: 14.5em;
}

.pinkish {
    color: #ff0067;
}

.pinkishbg {
    background-color: #ff0067;
}

.pinkishrow {
    background-color: #ff0067;
    min-height: 1.3em;
    width: 100%;
}

.toggleAlias[aria-expanded=true] .text-collapsed {
    display: none;
}

.toggleAlias[aria-expanded=false] .text-expanded {
    display: none;
}

.toggleConnections[aria-expanded=true] .text-collapsed {
    display: none;
}

.toggleConnections[aria-expanded=false] .text-expanded {
    display: none;
}

.toggleUploads[aria-expanded=true] .text-collapsed {
    display: none;
}

.toggleUploads[aria-expanded=false] .text-expanded {
    display: none;
}

.welcometextbutton {
    padding: 5vh 2vw 5vh 2vw;
}

.whiteish {
    color: #fefeff;
}

.whiteicon {
    color: #ffffff;
}

.yellowish {
    color: #e6e600;
}

#draggableRight .dragdropTitleRight {
    cursor: move;
}