.footer {
    margin-left: 0px;
    padding: 100px;
}

.welcomeLoginRegister {
    color: #ffffff;
}

.welcomePosts {
    margin-left: 0px;
    padding: 100px;
    background-color: #eeeeee;
}

.welcomeBackground {
    background-color: #00336c;
}

.welcomeText {
    color: #ffffff;
    padding: 100px;
    margin-left: 0px;
}

#welcomeTitleEmployee {
    color: #ff0066;
}