.footer {
    background-color: #dddddd;
    padding: 100px;
}

.welcomeBackground {
    background-color: #012853;
}

.welcomeLeftBar {
    background-color: #dfe1e5;
}

.welcomeLoginRegister {
    color: #ffffff;
}

.welcomePostsButton {
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #eeeeee;
}
.welcomeText {
    margin-top: 10px;
    text-align: center;
}

.welcomeTitle {
    color: #ffffff;
    padding: 100px;
}

#welcomeTitleEmployee {
    color: #ff0066;
}