/*Links*/
a:focus, a:hover, a:visited {
    text-decoration: none;
}

/*Body*/
body, html {
    background-color: #fefeff;
}

/*Classes*/
.biglogo {
    height: auto;
    max-width: 100%;
}

.blocks {
    background-image: url("/media/empSiteBackground_blocks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-width: 100vw;
}

.bubbles {
    background-image: url("/media/empSiteBackground_bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
}

.darkblue {
    color: #012854;
}

.darkbluebg {
    background-color: #012854;
}

.darkish {
    color: #444444;
}

.editbutton {
    min-width: 20em;
}

.greyish {
    color: #bbbbbb;
}

.greyishbg {
    background-color: #bbbbbb;
}

.greyishicon {
    color: #bbbbbb;
}

.greyishrow {
    background-color: #bbbbbb;
    min-height: 1.3em;
    width: 100%;
}

.overflowing {
    max-height: 15em;
    overflow-y: scroll;
}

.pinkish {
    color: #ff0067;
}

.pinkishbg {
    background-color: #ff0067;
}

.pinkishrow {
    background-color: #ff0067;
    min-height: 1.3em;
    width: 100%;
}

.toggleAlias[aria-expanded=false] .text-expanded {
    display: none;
}

.toggleAlias[aria-expanded=true] .text-collapsed {
    display: none;
}

.toggleConnections[aria-expanded=false] .text-expanded {
    display: none;
}

.toggleConnections[aria-expanded=true] .text-collapsed {
    display: none;
}

.toggleUploads[aria-expanded=false] .text-expanded {
    display: none;
}

.toggleUploads[aria-expanded=true] .text-collapsed {
    display: none;
}

.verticalrulewhite {
    border-left: 1px solid #ffffff;
}

.verticalrulewhite2 {
    position: absolute;
    border-left: 1px solid #ffffff;
    height: 48px;
    top: 0px;
    left: 54px;
}

.welcometextbutton {
    padding: 5vh 2vw 5vh 2vw;
}

.whiteicon {
    color: #ffffff;
}

.whiteish {
    color: #fefeff;
}

.yellowish {
    color: #e6e600;
}

.yellowishbg {
    background-color: #e6e600;
}

/*Id's and Classes*/
#draggableRight .dragdropTitleRight {
    cursor: move;
}

/*Id's and Lists*/
#sortable li {
    list-style-type: none;
}