.btn-block {
    padding: 300px 0 300px 0;
}

.carouselText {
    color: #212122;
}

.footer {
    background-color: #dddddd;
    padding: 50px 50px 50px 50px;
}

.termsOfServiceTitle {
    text-align: center;
}

.welcomeBackground {
    background-color: #012854;
}

.welcomeLeftBar {
    padding: 0 0 100px 0;
}

.welcomeLoginRegister {
    color: #ffffff;
    margin-top: 10px;
}

.welcomePostsButton {
    margin: 25px 0 15px 10px;
}

.welcomeText {
    margin: 15px 0 100px 0;
    padding-top: 150px;
    text-align: center;
}

.welcomeTitle {
    color: #ffffff;
    padding: 100px;
}

#welcomeTitleEmployee {
    color: #ff0067;
}