.carouselText {
    color: #212121;
}

.footer {
    background-color: #dddddd;
    padding: 100px 100px 100px 40px;
}

.welcomeBackground {
    background-color: #012853;
}

.welcomeLeftBar {
    margin: 10px 0 100px 10px;
    padding: 100px 0 100px 0;
}

.welcomeLeftBarCurve {
    background-color: #012853;
    color: #ff0066;
    margin: 10px;
    padding: 50px;
}

.welcomeLoginRegister {
    color: #ffffff;
    margin-top: 10px;
}

.welcomePostsButton {
    background-color: #eeeeee;
    font-weight: bolder;
    margin: 10px 0 100px 10px;
    padding: 200px 0 200px 0;
}
.welcomeText {
    margin: 10px 0 100px 0;
    padding-top: 150px;
    text-align: center;
}

.welcomeTitle {
    color: #ffffff;
    padding: 100px;
}

#welcomeTitleEmployee {
    color: #ff0066;
}