.carouselText {
    color: #212121;
}

.footer {
    background-color: #dddddd;
    padding: 100px;
}

.welcomeBackground {
    background-color: #012853;
}

.welcomeLeftBar {
    background-color: #eeeeee;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 100px 0 100px 0;
}

.welcomeLoginRegister {
    color: #ffffff;
}

.welcomePostsButton {
    font-weight: bold;
    margin: 10px 0 100px 10px;
    padding: 200px 0 200px 0;
    background-color: #eeeeee;
}
.welcomeText {
    margin: 10px 0 100px 0;
    padding-top: 150px;
    text-align: center;
}

.welcomeTitle {
    color: #ffffff;
    padding: 100px;
}

#welcomeTitleEmployee {
    color: #ff0066;
}