a:focus, a:hover, a:visited {
    text-decoration: none;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
}

.biglogo {
    max-width: 100%;
    height: auto;
}

.bubbles {
    background-image: url("/media/empSiteBackground_bubbles.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.darkblue {
    background-color: #012854;
}

.pinkish {
    color: #ff0067;
}

.pinkishrow {
    background-color: #ff0067;
    min-height: 1.3rem;
    width: 100%;
}

.welcometextbutton {
    padding: 5vh 2vw 5vh 2vw
}