.btn-block {
    padding: 200px 0 200px 0;
}

.carouselText {
    color: #212121;
}

.footer {
    background-color: #dddddd;
    padding: 50px 50px 50px 50px;
}

.welcomeBackground {
    background-color: #012853;
}

.welcomeLeftBar {
    margin: 0 0 100px 0;
    padding: 50px 0 100px 20px;
}

.welcomeLeftBarCurveBottom {
    background-color: #012853;
    color: #ffffff;
    padding: 50px 50px 50px 100px;
}

.welcomeLeftBarCurveTop {
    background-color: #012853;
    color: #ffffff;
    padding: 50px 50px 50px 100px;
}

.welcomeLoginRegister {
    color: #ffffff;
    margin-top: 10px;
}

.welcomePostsButton {
    margin: 15px 0 100px 0;
}

.welcomeText {
    margin: 15px 0 100px 0;
    padding-top: 150px;
    text-align: center;
}

.welcomeTitle {
    color: #ffffff;
    padding: 100px;
}

#welcomeTitleEmployee {
    color: #ff0066;
}