<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments</title>
    </head>
    <body>

        <!-- Back to Main Page -->
        <div th:fragment="back">
            <a th:href="@{/}">Back to Main Page</a>
        </div>
        <!-- Back to Main Page -->

        <!-- Copyright -->
        <div th:fragment="copyright">
            <p>&copy; 2020 Copyright: Toni Silfver</p>
        </div>
        <!-- Copyright -->

        <!-- Date -->
        <div th:fragment="date">
            <p th:text="${date}">Date</p>
        </div>
        <!-- Date -->

        <!-- Logout -->
        <div th:fragment="logout">
            <form th:action="@{/}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <!-- Logout -->

    </body>
</html>