<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments</title>
    </head>
    <body>

        <!-- Back to Login Page -->
        <div th:fragment="login">
            <a id="backToLoginPage" th:href="@{/EmployeeSearch/Login}">Return</a>
        </div>
        <!-- /Back to Login Page -->

        <!-- Back to Main Page -->
        <div th:fragment="main">
            <a id="backToMainPage" th:href="@{/}">Back to Main Page</a>
        </div>
        <!-- /Back to Main Page -->

        <!-- Back to Register Page -->
        <div th:fragment="register">
            <a id="backToRegisterPage" th:href="@{/EmployeeSearch/Register}">Return</a>
        </div>
        <!-- /Back to Register Page -->

        <!-- Copyright -->
        <div th:fragment="copyright">
            <p>&copy; 2020 Copyright: Toni Silfver</p>
        </div>
        <!-- /Copyright -->

        <!-- Date -->
        <div th:fragment="date">
            <p th:text="${date}">Date</p>
        </div>
        <!-- /Date -->

        <!-- Logout -->
        <div th:fragment="logout">
            <form th:action="@{/}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <!-- /Logout -->

    </body>
</html>