<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Home Visiting</title>
    </head>
    <body>

        <!-- Home page visiting -->
        <div th:fragment="homevisiting">
            <div class="container-fluid">
                <div class="row my-5">
                    <!-- Home page title -->
                    <div class="col-6">
                        <h3 class="text-center darkblue">
                            <i class="fas fa-globe"></i><strong class="ml-4"><span th:text="${visitingaccount.useralias}">Useralias</span>'s Home Page</strong>
                        </h3>
                    </div>
                    <!-- Add connection button -->
                    <div class="col-6 pr-5 text-right">
                        <form th:action="@{/EmployeeSearch/Users/{useralias}/Visiting/{visitingalias}/AddConnection(useralias=${account.useralias},visitingalias=${visitingaccount.useralias})}" method="POST">
                            <button th:if="${connection} == false" type="submit" name="addConnectionButton" value="addConnectionButtonPressed" class="btn btn-sm yellowishbg editbutton">Add Connection<i class="fas fa-user ml-2"></i></button>
                            <button th:unless="${connection} == false" type="submit" class="btn btn-sm yellowishbg disabled editbutton">Request Sent<i class="fas fa-user-clock ml-2"></i></button>
                        </form>
                    </div>
                    
                </div>
                <!-- Contents -->
                <div class="row">
                    <!-- Left column -->
                    <div class="col-xl mx-5">
                        <!-- User picture -->
                        <div class="card mb-5">
                            <div><h5 class="py-2 text-center darkbluebg yellowish"><i class="fas fa-user mr-3 yellowicon"></i><strong th:text="${visitingaccount.useralias}">Useralias</strong></h5></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <img src="" th:src="@{/media/profilePicture_default_male.png}" alt="" class="img-fluid rounded-circle"/>
                                            <br/>
                                            <h5 class="mt-3 text-center text-dark"><strong th:text="${visitingaccount.realname}">Real name</strong></h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p><i class="fas fa-quote-left mr-1"></i>Introduction of myself and about my profile</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish active" id="proficiency-tab" data-toggle="tab" href="#proficiency" role="tab" aria-controls="proficiency"
                                   aria-selected="true">Proficiency<i class="fas fa-user-tie ml-3 greyishicon"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education"
                                   aria-selected="false">Education<i class="fas fa-graduation-cap ml-3 greyishicon"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish" id="workHistory-tab" data-toggle="tab" href="#workHistory" role="tab" aria-controls="workHistory"
                                   aria-selected="false">Work History<i class="fas fa-briefcase ml-3 greyishicon"></i></a>
                            </li>
                        </ul>
                        <div class="tab-content py-5" id="profileTabsContent">
                            <div class="tab-pane fade show active" id="proficiency" role="tabpanel" aria-labelledby="proficiency-tab">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ability</th>
                                            <th>Level</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Likes <i class="far fa-thumbs-up"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                                <p>Education Text</p>
                            </div>
                            <div class="tab-pane fade" id="workHistory" role="tabpanel" aria-labelledby="workHistory-tab">
                                <p>Work History Text</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col mx-5">
                        <!-- Connections -->
                        <div class="card mb-5">
                            <h5 class="px-4 py-2 text-left darkbluebg greyish">
                                <strong class="mr-5"><i class="fas fa-user mr-3 greyishicon"></i>Connections (4)</strong>
                            </h5>
                            <div class="container overflowing">
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <img src="" th:src="@{/media/profilePicture_default_female.png}" alt="" class="img-fluid rounded-circle w-25"/>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <h5 class="mt-3 text-left text-dark"><strong>Useralias</strong></h5>
                                        </a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <img src="" th:src="@{/media/profilePicture_default_female.png}" alt="" class="img-fluid rounded-circle w-25"/>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <h5 class="mt-3 text-left text-dark"><strong>Useralias</strong></h5>
                                        </a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <img src="" th:src="@{/media/profilePicture_default_female.png}" alt="" class="img-fluid rounded-circle w-25"/>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <h5 class="mt-3 text-left text-dark"><strong>Useralias</strong></h5>
                                        </a>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <img src="" th:src="@{/media/profilePicture_default_female.png}" alt="" class="img-fluid rounded-circle w-25"/>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a th:href="@{/EmployeeSearch/Users}">
                                            <h5 class="mt-3 text-left text-dark"><strong>Useralias</strong></h5>
                                        </a>
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Home page visiting -->

    </body>
</html>