<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Home Visiting</title>
    </head>
    <body>

        <!-- Connection page visiting -->
        <div th:fragment="connectionvisiting">
            <div class="container-fluid">
                <div class="row my-5">
                    <!-- Home page title -->
                    <div class="col-6">
                        <h3 class="text-center darkblue">
                            <i class="fas fa-user-friends blueishicon"></i><strong class="ml-4 blueish"><span th:text="${visitingaccount.useralias}">Useralias</span>'s Home Page</strong>
                        </h3>
                    </div>
                    <div class="col-6 pr-5 text-right">
                        <!-- Remove connection button -->
                        <form th:action="@{/EmployeeSearch/Users/{useralias}/Connections/{visitingalias}/Remove(useralias=${account.useralias},visitingalias=${visitingaccount.useralias})}" method="POST">
                            <button type="submit" class="btn btn-sm blueishbg editbutton">Remove Connection<i class="fas fa-user-minus ml-2 greyishicon"></i></button>
                        </form>
                    </div>
                </div>
                <!-- Contents -->
                <div class="row">
                    <!-- Left column -->
                    <div class="col-xl mx-5">
                        <!-- User picture -->
                        <div class="card mb-5">
                            <div><h5 class="py-2 text-center blueish darkbluebg"><i class="fas fa-user mr-3 blueishicon"></i><strong th:text="${visitingaccount.useralias}">Useralias</strong></h5></div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div>
                                            <img src="" th:src="@{/media/profilePicture_default_male.png}" alt="" class="img-fluid rounded-circle"/>
                                            <br/>
                                            <h5 class="mt-3 text-center text-dark"><strong th:text="${visitingaccount.realname}">Real name</strong></h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p><i class="fas fa-quote-left mr-1"></i>Introduction of myself and about my profile</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabs -->
                        <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish active" id="proficiency-tab" data-toggle="tab" href="#proficiency" role="tab" aria-controls="proficiency"
                                   aria-selected="true">Proficiency<i class="fas fa-user-tie ml-3 greyishicon"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education"
                                   aria-selected="false">Education<i class="fas fa-graduation-cap ml-3 greyishicon"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link darkbluebg greyish" id="workHistory-tab" data-toggle="tab" href="#workHistory" role="tab" aria-controls="workHistory"
                                   aria-selected="false">Work History<i class="fas fa-briefcase ml-3 greyishicon"></i></a>
                            </li>
                        </ul>
                        <div class="tab-content py-5" id="profileTabsContent">
                            <div class="tab-pane fade show active" id="proficiency" role="tabpanel" aria-labelledby="proficiency-tab">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ability</th>
                                            <th>Level</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>Likes <i class="far fa-thumbs-up"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <p></p>
                            </div>
                            <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                                <p>Education Text</p>
                            </div>
                            <div class="tab-pane fade" id="workHistory" role="tabpanel" aria-labelledby="workHistory-tab">
                                <p>Work History Text</p>
                            </div>
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col mx-5">
                        <!-- Background -->
                        <div class="card mb-5">
                            <div><h5 class="py-2 text-center darkbluebg greyish"><strong><i class="fas fa-history mr-3 greyishicon"></i>Background</strong></h5></div>
                            <div class="overflowing">
                                <div>
                                    <p class="mt-3 text-center text-dark">Background text</p>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Information -->
                        <div class="card mb-5">
                            <div><h5 class="py-2 text-center darkbluebg greyish"><strong><i class="fas fa-address-card mr-3 greyishicon"></i>Contact Information</strong></h5></div>
                            <div class="overflowing">
                                <div>
                                    <p class="mt-3 text-center text-dark">Contact Information text</p>
                                </div>
                            </div>
                        </div>
                        <!-- Connections -->
                        <div class="card mb-5">
                            <h5 class="py-2 text-center darkbluebg greyish">
                                <strong class="mr-5"><i class="fas fa-user mr-3 greyishicon"></i>Connections (<span th:text="${connectionEstablishedVisitedSize}">amount</span>)</strong>
                            </h5>
                            <div class="container overflowing">
                                <div th:each="connection:${connectionEstablishedVisited}">
                                    <div class="row">
                                        <div class="col ml-5">
                                            <img src="" th:src="@{/media/profilePicture_default_female.png}" alt="" class="img-fluid rounded-circle smallimage"/>
                                            <a th:href="@{'/EmployeeSearch/Users/' + ${account.useralias} + '/Visiting/' + ${connection[0]}}"><span class="text-dark"><strong th:text="${connection[1]}">Real name</strong></span></a>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-5">
                            <div><h5 class="px-4 py-2 text-left darkbluebg greyish">
                                    <strong class="mr-5"><i class="fas fa-cloud-upload-alt mr-3 greyishicon"></i>Uploads (10)</strong>
                                </h5></div>
                            <div class="overflowing">
                                <a>
                                    <h5 class="mt-3 text-center text-dark">File 1</h5>
                                    <h5 class="mt-3 text-center text-dark">File 2</h5>
                                    <h5 class="mt-3 text-center text-dark">File 3</h5>
                                    <h5 class="mt-3 text-center text-dark">File 4</h5>
                                    <h5 class="mt-3 text-center text-dark">File 5</h5>
                                    <h5 class="mt-3 text-center text-dark">File 6</h5>
                                    <h5 class="mt-3 text-center text-dark">File 7</h5>
                                    <h5 class="mt-3 text-center text-dark">File 8</h5>
                                    <h5 class="mt-3 text-center text-dark">File 9</h5>
                                    <h5 class="mt-3 text-center text-dark">File 10</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Connection page visiting -->

    </body>
</html>