<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Links and Texts</title>
    </head>
    <body>

        <!-- Back to Login Page -->
        <div th:fragment="login">
            <div class="container">
                <div class="text-center">
                    <a th:href="@{/EmployeeSearch/Login}">to Login Page</a>
                </div>
            </div>
        </div>
        <!-- /Back to Login Page -->

        <!-- Back to Main Page -->
        <div th:fragment="main">
            <div class="container">
                <div class="text-center">
                    <a th:href="@{/}">to Main Page</a>
                </div>
            </div>
        </div>
        <!-- /Back to Main Page -->

        <!-- Back to Preferences Page -->
        <div th:fragment="preferences">
            <div class="container">
                <div class="text-center">
                    <a th:href="@{/EmployeeSearch/Users/{useralias}/Preferences(useralias=${account.useralias})}" class="text-dark">
                        <strong>Oops, I don't want this, take me back!</strong></a>
                </div>
            </div>
        </div>
        <!-- /Back to Preferences Page -->

        <!-- Back to Register Page -->
        <div th:fragment="register">
            <div class="container">
                <div class="text-center">
                    <a th:href="@{/EmployeeSearch/Register}">to Register Page</a>
                </div>
            </div>
        </div>
        <!-- /Back to Register Page -->

        <!-- Copyright -->
        <div th:fragment="copyright">
            <p>&copy; 2020 Copyright: Toni Silfver</p>
        </div>
        <!-- /Copyright -->

        <!-- Date -->
        <div th:fragment="date">
            <p th:text="${date}">Date</p>
        </div>
        <!-- /Date -->

        <!-- Logout -->
        <div th:fragment="logout">
            <form th:action="@{/}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
        <!-- /Logout -->

    </body>
</html>