<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Navbar</title>
    </head>
    <body>

        <!-- Welcome page content -->
        <div th:fragment="welcome">
            <div class="container-fluid">
                <div class="row">
                    <!-- Empty column -->
                    <div class="col-3">
                        <div></div>
                    </div>
                    <!-- Big logo -->
                    <div class="col mt-5 py-5">
                        <div class="row">
                            <a th:href="@{/EmployeeSearch/Users}">
                                <img class="img-fluid biglogo" name="welcomeBigLogo" src="/media/empSiteLogo_in.png" 
                                     onmouseover="this.src='/media/empSiteLogo_out.png';"
                                     onmouseout="this.src='/media/empSiteLogo_in.png';" alt="Posts"/>
                            </a>
                        </div>
                    </div>
                    <!-- Links -->
                    <div class="col-xl ml-5 mt-5 px-5 py-5">
                        <div class="row">
                            <ul class="list-group text-left">
                                <!-- Home page -->
                                <li class="list-group-item darkbluebg">
                                    <div class="verticalrulewhite2"></div>
                                    <a th:href="@{/EmployeeSearch/Users}" class="whiteish">
                                        <i class="fas fa-home mr-5 whiteicon"></i> Home Page</a>
                                </li>
                                <!-- Help -->
                                <li class="list-group-item greyishbg">
                                    <div class="verticalrulewhite2"></div>
                                    <a th:href="@{/EmployeeSearch/Users/Help}" class="whiteish">
                                        <i class="fas fa-question-circle mr-5 pr-4 whiteicon"></i> Help</a>
                                </li>
                                <!-- Terms of service -->
                                <li class="list-group-item greyishbg">
                                    <div class="verticalrulewhite2"></div>
                                    <a th:href="@{/EmployeeSearch/TermsOfService}" class="whiteish">
                                        <i class="fas fa-balance-scale mr-4 whiteicon"></i> Terms of service</a>
                                </li>
                                <!-- Sign out -->
                                <li class="list-group-item greyishbg">
                                    <div class="verticalrulewhite2"></div>
                                    <a th:href="@{/EmployeeSearch/Logout}" class="whiteish">
                                        <i class="fas fa-sign-out-alt mr-3 pr-5 whiteicon"></i>Sign out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Welcome page content -->

    </body>
</html>