<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Terms Of Service - Employee Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col footer">
                    <h5 class="termsOfServiceTitle">Terms of Service</h5>
                    <p><strong>Terms and Conditions</strong><br/><br/>
                        By using this website you agree to be bound by and 
                        accept the following terms and conditions. Please read 
                        them carefully.<br/><br/>
                        <strong>Disclaimer</strong><br/><br/>
                        I (Toni Silfver) created this website 
                        for a school project and as such it should be 
                        comprehended. Any information on this site should 
                        not be substituted for an advice. No liability is 
                        assumed by Toni Silfver for losses suffered by any 
                        person or organisation relying directly or indirectly 
                        on information published or files shared on this site. 
                        Views expressed in any post, comment or like are the 
                        views of the authors individually and do not 
                        necessarily reflect the view of Toni Silfver.<br/><br/>
                        Information appearing on this site may only be 
                        reproduced with prior approval from Toni Silfver and 
                        credit being given to the source.<br/><br/>
                        Copyright &copy; Toni Silfver 2020. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
