<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome - Employee Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Welcome to the Employee Search App</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <h2>Posts</h2>
                    <button>Take a gander at the Posts Section</button>
                </div>
                <div class="col-2">
                    <p>As a registered user you will get your own Home Page 
                    that can modify to your own liking to show others your 
                    abilities and skill level, CV or other profile documents, 
                    profile avatar and more. 
                    You can even add other employees to your contacts and 
                    see and like their posts and comment them. So what are 
                    you waiting for, register Today!
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
