<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome - Employee Search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/public/style.css}"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Welcome to the Employee Search App</h1>
                </div>
                <div class="col-2">
                    <h6>Login</h6>
                </div>
                <div class="col-2">
                    <h6>Register</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <button type="button" class="btn btn-light btn-lg btn-block">Take a gander at the Posts Section</button>
                </div>
                <div class="col-4">
                    <p>As a registered user you will get your own Home Page 
                    that you can modify to your own liking to show others your 
                    abilities and skill level, CV or other profile documents, 
                    profile avatar and more. 
                    You can even add other employees to your contacts and 
                    see and like their posts and comment them. So, what are 
                    you waiting for? Register Today, it's FREE!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col cell">
                    <p>Copyright &copy; Toni Silfver 2020. 
                        All rights reserved.</p>
                </div>
            </div>
        </div>
    </body>
</html>
